.footerParent{
  box-shadow: 0px 0px 0px 1px #888888;
  text-align: left;
  font-weight: 15px;
  background-color: rgb(247, 247, 247);
  
}

.FooterZerodhaImg{
  height: 20px;
}
.footer1{
  margin-left: 55px;
  padding: 15px;
  margin: 55px;
  width: 100%;
}
.ppp{
  margin-left: 555px;
}
.pop{
  margin-right: 88px;
}